#contenedor{
    width: 85%;
    height: 300px;
    margin: auto;
    background: #85C2C0;
    margin-top: 20px;
}

h1{
    text-align: center;
    padding: 20px;
    color: #fff;
}

p{
    text-align: center;
    width: 85%;
    margin: auto;
}